!!! 5
html
  head
    title noderelict

    link(rel="stylesheet", type="text/css", href="/stylesheets/blueprint/screen.css", media="screen, projection")
    link(rel="stylesheet", type="text/css", href="/stylesheets/blueprint/print.css", media="print")
    //if lt IE 8
      link(rel="stylesheet", type="text/css", href="/stylesheets/blueprint/ie.css", media="screen, projection")

    link(rel="stylesheet", type="text/css", href="/stylesheets/global.css", media="screen, projection")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")

  body
    .container
      != body
