!!! 5
html
  head
    title no.de.relict

    link(rel="stylesheet", type="text/css", href="/stylesheets/blueprint/screen.css", media="screen, projection")
    link(rel="stylesheet", type="text/css", href="/stylesheets/blueprint/print.css", media="print")
    //if lt IE 8
      link(rel="stylesheet", type="text/css", href="/stylesheets/blueprint/ie.css", media="screen, projection")

    link(rel="stylesheet", type="text/css", href="/stylesheets/global.css", media="screen, projection")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="/javascripts/jquery.flot.js")

  body
    .container
      h1 no.de.relict

      != body
